a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin:0;
    padding:0;
    border:0;
    font:Arial;
    font-size:100%;
    vertical-align:baseline
}

html {
    line-height:1
}

ol,ul{
    list-style:none
}

table {
    border-collapse:collapse;
    border-spacing:0
}

caption,td,th {
    text-align:left;
    font-weight:400;
    vertical-align:middle
}

blockquote,q {
    quotes:none
}

blockquote:after,blockquote:before,q:after,q:before{
    content:"";
    content:none
}

a img {
    border:0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display:block
}

/*body*/
body {
/*    font-family:Arial, proxima-nova,"Proxima Nova","Myriad Pro","Helvetica Neue",Helvetica,sans;*/
    font-size:15px;
    background:#e1eef6;
    color:#474747;
    font-weight:400;
    margin:0 auto;
    padding:0
}

.card {
    font-size:15px;
    background:#fffff3;
    width: 1200px;
    border-radius: 10px;
    color:#474747;
    font-weight:400;
    margin:0 auto;
    padding:0
}

/*container*/
.container {
    margin:0 auto;
    padding:0 1em;
    max-width:1200px;
    width:1200px
}

svg {
    display:block
}

a{
    color:#89dfc4;
    text-decoration:none
}

emph{
    font-weight:900
}

button{
    -moz-transition-property:"opacity","background-color","color";
    -o-transition-property:"opacity","background-color","color";
    -webkit-transition-property:"opacity","background-color","color";
    transition-property:"opacity","background-color","color";
    -moz-transition-duration:".1s";
    -o-transition-duration:".1s";
    -webkit-transition-duration:".1s";
    transition-duration:".1s";
    font-family:proxima-nova,"Proxima Nova","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans;
    color:#000;
    background:#b0d2c7;
    padding:.5em 1em;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    font-weight:600;
    font-size:14px;
    display:block;
    margin:0 1em 0 0;
    border:0;
    cursor:pointer
}

button i {
    margin-right:.3em
}

button:hover {
    background:#FFF
}

button.reset {
    background:#deb4d7
}

button.reset:hover {
    color:#FFF;background:#d689c9
}

.disabled {
    pointer-events:none;
    opacity:.4;
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%)
}

.result-displa {
    width:100%
}

.image-mode {
    float:right
}

.image-mode button {
    display:block;
    float:left;
    margin-right:.3em;
    color:#999;
    background:#222;
    border:1px solid #666;
    font-weight:400
}

.image-mode button:hover {
    background:#b0d2c7;
    color:#444
}

.image-mode button.active {
    color:#111;
    font-weight:600;
    background:#b0d2c7
}

.popUp {
    width:400px;
    left:0;
    top:50px;
    color:#FFF;
    border:1px solid #1b2428;
    background:#253036;
    position:absolute;
    line-height:1.4;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    z-index:999999999;
    -moz-box-shadow:10px 10px 5px rgba(0,0,0,.5);
    -webkit-box-shadow:10px 10px 5px rgba(0,0,0,.5);
    box-shadow:10px 10px 5px rgba(0,0,0,.5)
}

.popUp p {
    padding:10px
}

.linkBox {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#253036;
    background:#c9d4d8;
    border:1px solid #000;
    word-wrap:break-word
}

#copyViewPopup {
    display:none
}

#spinnerContainer {
    width:100%;
    height:100%;
    position:fixed;
    z-index:101;
    top:60px;
    left:0;
    background:#171b23
}

#overlay{
    width:100%;
    height:100%;
    z-index:9999999;
    background:rgba(0,0,0,.6);
    display:none;
    position:fixed;
    top:0;
    left:0
}

#overlay .enlargedImage{
    position:absolute
}

#overlay .selfieContainer img{
    border:5px solid #fff
}

#socialMediaShares a {
    background:#89dfc4;
    color:#888;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    padding:5px;
    cursor:hand
}

#socialMediaShares button{
    float:left;
    margin-bottom:1em
}

/*header background*/
#header{
    background:#004e66;
    min-height: 250px;
    padding: 0;
    overflow:hidden;
    *zoom:1;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 1px #dbd8d3;
    display: table;
}

/**/
#diet_img {
    max-height: 500px;
    max-width: 400px;
    padding-left: 100px;
    float: right;
}

/**/
#top-left {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 35%;
}

/**/
#top-right {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 65%;

}

/**/
#title {
    font: Arial;
    color: white;
    padding-left: 30px;
    font-size: 25pt;
    position: relative;
    text-align: left
}

/**/
#introduction {
    color: white;
    padding-left: 30px;
    padding-top: 10px;
    max-width: 600px;
    position: relative;
    text-align: left
}

/**/
.subtitle {
    font-size: 18pt;
    padding-top: 40px;
    text-align: center;
}

/**/
hr {
    height: 3px;
    color: #dbd8d3;
}

.bubbles {
    stroke:#ffffff;
    stroke-opacity: 0.7;
    fill: #ffffff;
    fill-opacity: 0.7;
    display: block;
}

.bubble-text {
    fill: #5a6a62;
    pointer-events: none;
    font-size: 10pt;
}

#graph-title {
    padding-top: 40px;
}

#graph-left {
    position: relative;
    width: 70%;
}

#graph-right {
    position: relative;
    width: 30%;
    float: right;
    padding-left: 75px;
}

#search-bar {
    padding: 10px;
    background-color: #fcbe32;
}

#search-bar-input {
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 5px;
}

#food-list {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ternaryplot_circles {
    stroke:#000000;
    stroke-opacity:.3;
    fill:#000000;
    fill-opacity:.3;
    display:block
}

/*
#header .part-of{
    padding:.2em .5em 0 1em;
    color:#474747!important;
    font-size:14px;
    display:block;
    float:left;
    clear:none
}

#header .part-of span{
    font-style:italic;
    padding-right:.5em
}
*/

/*
#header .part-of a.selfiecity{
    color:#DDD!important;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:600
}

#header .the{
    font-size:14px;
    font-style:italic;
    margin:0 0 0 -2.5em;
    position:absolute;
    color:#999!important;
    padding:.2em .5em 0 0
}

#header .controls{
    float:right;
    margin:-.4em 0 0 0;
    -moz-transition:opacity 1s;
    -o-transition:opacity 1s;
    -webkit-transition:opacity 1s;
    transition:opacity 1s;
    display:none
}

#header .controls button{
    float:right
}
*/

body.filter-active .controls{
    pointer-events:all!important
}

body.no-filter-active .reset {
    pointer-events:none;
    opacity:.4;
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%)
}

body.no-filter-active circle.bubble,body.no-filter-active path.polygon{
    opacity:0
}

body.tour-active .controls,body.tour-active .image-mode,body.tour-active.tour-step-0 .demographics .chartContainer.age,body.tour-active.tour-step-0 .demographics .chartContainer.gender,body.tour-active.tour-step-0 .features,body.tour-active.tour-step-0 .mood,body.tour-active.tour-step-0 .pose,body.tour-active.tour-step-1 .features,body.tour-active.tour-step-1 .mood,body.tour-active.tour-step-1 .pose{
    pointer-events:none;
    opacity:.4;
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%)
}

/*header title*/
h1{
    font-size:18px;
    font-weight:600;
    color:#474747;
    text-transform:uppercase;
    letter-spacing:2px;
    display:block;
    float:left;
    clear:none
}

h2{
    text-transform:uppercase;
    letter-spacing:2px;
    font-size:15px;
    font-weight:700;
/*   font-style:italic;*/
    color:#474747
}

@-moz-document url-prefix(){
    circle.backgroundBubble,path.backgroundPolygon,rect.backgroundBar{
        fill:rgba(200,200,200,.3)!important}
}

/*filter area*/
.filter-area {
    height:340px
}

/*
.filter-area #legend{
    width:1200px;
    height:340px;
    position:absolute;
    z-index:30;
    pointer-events:none
}
*/

.filter-area h2{
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.filter-area h3{
    pointer-events:none;
    padding:.3em;
    margin:0 auto;
    z-index:2;
    text-transform:uppercase;
    font-weight:600;
    color:#FFF;
    font-size:12px;
    letter-spacing:1px;
    position:absolute;
    text-align:right;
    width:280px;
    line-height:1.3;
    filter:alpha(Opacity=60);
    opacity:.6}

.filter-area h3.left{
    text-align:left
}

.filter-area h3.center{
    text-align:center
}

.filter-area h3.bottom{
    top:390px
}

.filter-area h3.dimension{
    color:#5a6a62;
    filter:alpha(enabled=false);
    opacity:1
}

/*
.filter-area .col-one-third h3{
    width:95px
}

.filter-area .col-one-third h3.dimension{
    top:250px
}

.filter-area .col-two-third h3{
    width:185px
}
*/

/*.filter-area .chartContainer.turn h3.dimension{
    top:168px
}*/

/*
.filter-area .chartContainer.tilt h3.dimension{
    top:338px
}
*/

/*filter-area chartCategory*/
.filter-area .chartCategory{
    display:block;
    float:left;
    width:25%;
    height:100%;
    min-width:200px
}

/*filter-area chartContainer*/
.filter-area .chartContainer{
    background:#fcbe32;
    border: #fcbe32;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #dbd8d3;
    margin:0 .5em .5em 0;
    overflow:hidden;*zoom:1
}

/**/
/*
.filter-area .chartContainer>div{
    float:left
}
*/

/**/
/*
.filter-area .col-one-third{
    width:33%;
    clear:none;
    float:left
}
*/

/**/
/*
.filter-area .col-one-third .chartContainer{
    margin:0
}
*/

/**/
/*
.filter-area .col-two-third{
    width:66%;
    clear:none;
    float:right
}
*/

/**/
/*
.filter-area .col-two-third .chartContainer{
    height:50%
}
*/

.tourButton{
    float:right;
    margin:-.4em 1em 0 0;
    -moz-transition:opacity 1s;
    -o-transition:opacity 1s;
    -webkit-transition:opacity 1s;
    transition:opacity 1s;opacity:0
}

#tour{
    z-index:999999;
    display:none;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;right:0;
    top:0
}

.tourStep{
    position:absolute;
    top:0;
    left:0;
    z-index:999999;
    color:#171b23;
    font-size:15px;
    line-height:1.4
}

.tourStep .block,.tourStep .blurb{
    position:absolute
}

.tourStep .block{
    background:0 0
}

.tourStep img{
    max-width:100%;
    height:auto;
    margin:1em 0;
    display:block
}

.tourStep #tourControls{
    border:1px solid #a2c9bb;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background:#253036;
    -moz-box-shadow:10px 10px 5px rgba(0,0,0,.5);
    -webkit-box-shadow:10px 10px 5px rgba(0,0,0,.5);
    box-shadow:10px 10px 5px rgba(0,0,0,.5);
    width:220px;
    position:absolute;
    left:950px;
    top:25px
}

.tourStep #tourControls .skipTourButton{
    line-height:0;
    padding-right:10px
}

.tourStep #tourControls .skipTourButton i{
    margin-top:-4px
}

.tourStep #tourControls *{
    display:inline-block
}

.tourStep #tourControls :not(.skipTourButton){
    vertical-align:middle;line-height:40px
}

.tourStep #tourControls .stepBackwardsTour,.tourStep #tourControls .stepForwardTour,.tourStep #tourControls button{
    cursor:pointer;
    margin:0;
    padding-left:5px;
    padding-right:5px
}

.tourStep #tourControls .stepForwardTour{
    font-size:35px;
    font-weight:500;
    color:#fff
}

.tourStep #tourControls .stepBackwardsTour{
    font-size:20px;
    font-weight:500;
    color:#fff;
    padding-left:20px
}

.tourStep #tourControls .stepBackwardsTour:hover,.tourStep #tourControls .stepForwardTour:hover{color:#b0d2c7}.tourStep #tourControls p.stepCounter{
    margin:0!important;
    padding:0;
    margin-right:5px;
    font-size:10px;
    color:#fff
}

.tourStep .blurb{
    padding:1em;
    background:#d8e8e1;
    filter:alpha(Opacity=95);
    opacity:.95;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    -moz-box-shadow:10px 10px 5px rgba(0,0,0,.5);
    -webkit-box-shadow:10px 10px 5px rgba(0,0,0,.5);
    box-shadow:10px 10px 5px rgba(0,0,0,.5)
}

.tourStep .blurb h1{
    margin:0;
    color:#171b23;
    font-size:24px;
    float:none
}

.tourStep .blurb a{
    text-decoration:none;
    font-weight:400;
    padding:.05em .15em;
    color:#0f4169
}

.tourStep .blurb a:hover{
    background:#166797;
    color:#FFF
}

.tourStep .blurb .fa{
    display:block;
    float:left;
    padding:.3em;
    background:#1f3a4a;
    color:#79dab7;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin:0 .5em .5em 0;
    font-size:1.3em
}

.tourStep .blurb .start{
    display:block;
    padding:.3em;
    background:#1f3a4a;
    color:#79dab7;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    margin:1em auto;
    font-size:1.3em
}

.tourStep .blurb .start span{
    padding:0 10px 0 5px;
    line-height:2
}

.tourStep .blurb .start .fa{
    margin:0
}

.tourStep .blurb .start:hover,.tourStep .blurb .start:hover .fa{
    background:#166797
}

#tourStep0 #tourStep0Block1{
    width:910px;
    height:430px;
    left:310px;
    top:65px
}

#tourStep0 #tourStep0Block2{
    width:300px;
    height:180px;
    left:15px;
    top:255px
}

#tourStep0 #tourStep0Blurb1{
    width:420px;
    top:105px;
    left:530px;
    font-size:18px
}

#tourStep0 #tourStep0Blurb1 h1{
    margin-bottom:15px
}

#tourStep0 #tourStep0Blurb1 p{
    margin-top:15px
}

#tourStep0 #tourStep0Blurb2{
    width:300px;
    top:255px;
    left:40px
}

#tourStep0 #tourStep0Blurb3{
    width:200px;
    top:600px;
    left:920px
}

#tourStep0 #tourStep0Blurb4{
    width:300px;
    left:610px;
    top:425px
}

#tourStep1 #tourStep1Block1{
    width:910px;
    height:430px;
    left:310px;
    top:65px
}

#tourStep1 #tourStep1Blurb1{
    width:400px;
    height:230px;
    left:630px;
    top:150px
}

#tourStep1 #tourStep1Blurb1 h1{
    margin-bottom:15px
}

#tourStep1 #tourStep1Blurb1 p{
    float:left;
    width:50%;
    margin-top:15px
}

#tourStep1 #tourStep1Blurb2{
    width:200px;
    height:230px;
    left:330px;
    top:260px
}

#tourStep1 #tourStep1Blurb3{
    width:200px;
    left:20px;
    top:420px
}

#tourStep2 #tourStep2Blurb1{
    width:240px;
    height:120px;
    top:435px;
    left:25px
}

#tourStep2 #tourStep2Blurb2{
    width:240px;
    height:120px;
    top:435px;
    left:325px
}

#tourStep2 #tourStep2Blurb3{
    width:240px;
    height:120px;
    top:435px;
    left:625px
}

#tourStep2 #tourStep2Blurb4{
    width:240px;
    height:120px;
    top:435px;
    left:925px
}

#tourStep2 #tourStep2Blurb5{
    width:400px;
    top:650px;
    left:30px
}

div.chart.location{
    background:#000;
    background-image:url(../assets/map.svg);
    height:144px
}

.selfieContainer{
    position:absolute;
    background-image:url(../assets/placeholder.svg);
    background-size:100% 100%
}

.selfieContainer .selfie{
    -moz-transition:opacity .25s;
    -o-transition:opacity .25s;
    -webkit-transition:opacity .25s;
    transition:opacity .25s;
    cursor:pointer
}

.selfieContainer .selfie:hover{
    -webkit-filter:brightness(130%);
    filter:brightness(130%)
}

.selfieContainer .selfie:not(.highlight){
    opacity:.2;
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%)
}

.selfieContainer .selfie.highlight{
    opacity:1
}

.results{
    clear:both;
    padding:2em 0;
    width:100%
}

.results .result-display{
    font-size:21px;
    padding:1em 0;
    float:left;
    font-weight:300;
    color:#666
}

.results .result-display #selectedFaces{
    font-weight:600;
    color:#EEE
}

.results .image-grid{
    clear:both;
    overflow:hidden;*zoom:1;
    position:relative;
    width:100%;
    min-height:300px
}

.results .options{
    float:right;
    margin-top:1em;
    margin-right:50px;
    padding:.5em;
    background:#111
}

.results #moreImagesArrow,.results #previousImagesArrow{
    width:0;
    height:0;
    top:-1px;
    position:absolute;
    cursor:pointer;
    z-index:100;
    background:#000;
    background-image:url(../assets/arrow_right.svg);
    background-size:20%;
    background-position:center center;
    background-repeat:no-repeat;
    filter:alpha(Opacity=80);
    opacity:.8
}

.results #moreImagesArrow:hover,.results #previousImagesArrow:hover{
    filter:alpha(Opacity=95);
    opacity:.95;
    background-image:url(../assets/arrow_right_hover.svg)
}

.results #previousImagesArrow{
    background-image:url(../assets/arrow_left.svg)
}

.results #previousImagesArrow:hover{
    background-image:url(../assets/arrow_left_hover.svg)
}

img.desaturate{
    -webkit-filter:grayscale(100%);
    filter:grayscale(100%)
}

svg #diagonalHatch path{
    stroke:#9e9e9e
}

svg .tooltip{
    stroke:#fff;
    visibility:hidden
}

svg .tooltip .tooltipText{
    stroke:none;
    fill:#fff;
    text-transform:uppercase;
    font-family:proxima-nova,"Proxima Nova","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans;
    font-size:12px
}

svg text{
    fill:#777;
    pointer-events:none;
    font-weight:600
}

svg line.separatorLine{
    stroke-width:.5;
    stroke:#000
}

svg circle{
    stroke:#fcf4d9;
    stroke-opacity:.3;
    fill:#fcf4d9;
    fill-opacity:.3;
    display:block
}

svg circle.backgroundBubble{
    stroke:none;
    fill:url(#diagonalHatch);
    fill-opacity:.9;
    cursor:pointer
}

svg rect{
    stroke:none;
/*    fill:#FCF4D9;*/
    fill:#FBE2B4;
    fill-opacity:.7
}

svg rect.backgroundBar{
    stroke:none;
    fill:url(#diagonalHatch);
    fill-opacity:.9
}

svg .chart-bg{
    fill:#000;
    fill-opacity:1
}

svg .chart-bg.transparent{
    fill-opacity:0
}

svg path.polygon{
    stroke:#474747;
    stroke-opacity:.7;
    fill:#474747;
    fill-opacity:.3
}

svg path.backgroundPolygon{
    stroke:none;
    fill:url(#diagonalHatch);
    fill-opacity:.9
}

svg path.domain{
    stroke:#444;
    stroke-opacity:0;
    fill:none;
    stroke-width:1px;
    shape-rendering:crispEdges
}

svg .y_axis .tick line{
    stroke:#222;
    stroke-width:1px;
    shape-rendering:crispEdges
}

svg .tick text{
    font-size:10px
}

svg .extent{
    stroke:#659fec;
    stroke-opacity:.5;
    fill:#659fec;
    fill-opacity:.3;
    shape-rendering:crispEdges
}

svg .extent.bubble{
    shape-rendering:auto;
    fill:#659fec!important;
    stroke:#659fec!important;
    cursor:pointer
}

