h1{
    float: none;
}

.filter-area, .dist-area{
    height: auto;
}

.filter-area h3{
    /* text-align: left; */
}

.filter-area .chartContainer{
    min-height: 96px;
    cursor: pointer;
}

.filter-area .nutrients .chartContainer{
    cursor: crosshair;
}

/* .dist-area {
    height: 500px;
} */

.dist-area .chartContainer {
    float: left;
}

.search-area .search-box{
    border: #2bffeb 1px solid;
    height: 500px;
    width: 250px;
    margin-top: 60px;
    margin-left: 20px;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#food-list li {
    /* margin-bottom: 15px; */
    line-height: 18px;
    padding: 7.5px 10px;
    cursor: pointer;
}

#food-list li:hover{
    background-color: #2bffeb;
    color: #000;
}

#food-tag-list li{
   
    color: #fff;
    padding: 8px 5px 5px 5px;
    display: inline-block;
    background-color: #00ffe433;
    margin-left: 7.5px;
    margin-bottom: 7.5px;
}

#food-tag-list li > span {
    margin-right: 5px;
}

.material-icons{
    cursor: pointer;
    vertical-align: middle;
}

#chart-nutrients-detail .over > rect{
    fill: red !important;
}

.personal-info button{
    display: inline-block;
    margin-right: 10px;
    background-color: #00ffe433;
    border: #2bffeb 1px solid;
    color: #fff;
}

.personal-info button.active{
    background-color: #04ceb8;
}

.radar-pt{
    fill: #029585;
    fill-opacity: 1;
}

.ter-circle{
    cursor: pointer;
}

.ter-circle.selected circle{
    fill-opacity: 1;
}