body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:956px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:238px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:238px;
}
#u1 {
  position:absolute;
  left:2px;
  top:111px;
  width:595px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:347px;
}
#u2 {
  position:absolute;
  left:0px;
  top:238px;
  width:599px;
  height:347px;
}
#u3 {
  position:absolute;
  left:2px;
  top:166px;
  width:595px;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:373px;
}
#u4 {
  position:absolute;
  left:-1px;
  top:584px;
  width:600px;
  height:373px;
}
#u5 {
  position:absolute;
  left:2px;
  top:178px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:413px;
}
#u6 {
  position:absolute;
  left:-1px;
  top:955px;
  width:599px;
  height:413px;
}
#u7 {
  position:absolute;
  left:2px;
  top:198px;
  width:595px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:217px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:635px;
  top:7px;
  width:300px;
  height:217px;
  font-size:14px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:10px;
  top:40px;
  width:280px;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u11 {
  position:absolute;
  left:733px;
  top:168px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u8_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:90px;
  background:inherit;
  background-color:rgba(0, 58, 68, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u13 {
  position:absolute;
  left:634px;
  top:178px;
  width:300px;
  height:90px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u14 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(0, 58, 68, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15 {
  position:absolute;
  left:60px;
  top:178px;
  width:477px;
  height:74px;
}
#u16 {
  position:absolute;
  left:2px;
  top:29px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:104px;
  height:10px;
}
#u17 {
  position:absolute;
  left:537px;
  top:213px;
  width:99px;
  height:5px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-6px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:196px;
}
#u19 {
  position:absolute;
  left:634px;
  top:278px;
  width:300px;
  height:196px;
  font-size:14px;
  color:#003A44;
  text-align:left;
}
#u20 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u21 {
  position:absolute;
  left:732px;
  top:416px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u22 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u8_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:90px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:660px;
  top:148px;
  width:233px;
  height:90px;
  font-size:14px;
  color:#FFFFFF;
}
#u24 {
  position:absolute;
  left:10px;
  top:40px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u25 {
  position:absolute;
  left:724px;
  top:178px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u26 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:429px;
}
#u27 {
  position:absolute;
  left:-1px;
  top:146px;
  width:599px;
  height:429px;
}
#u28 {
  position:absolute;
  left:2px;
  top:206px;
  width:595px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:102px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u29 {
  position:absolute;
  left:631px;
  top:393px;
  width:300px;
  height:102px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u30 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  position:absolute;
  left:-1px;
  top:301px;
  width:163px;
  height:290px;
}
#u32 {
  position:absolute;
  left:2px;
  top:137px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:474px;
  height:10px;
}
#u33 {
  position:absolute;
  left:162px;
  top:441px;
  width:469px;
  height:5px;
}
#u34 {
  position:absolute;
  left:2px;
  top:-6px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:217px;
}
#u35 {
  position:absolute;
  left:631px;
  top:514px;
  width:300px;
  height:217px;
  font-size:14px;
  color:#003A44;
  text-align:left;
}
#u36 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#003A44;
}
#u37 {
  position:absolute;
  left:729px;
  top:669px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#003A44;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u8_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:584px;
}
#u39 {
  position:absolute;
  left:10px;
  top:304px;
  width:578px;
  height:584px;
}
#u40 {
  position:absolute;
  left:2px;
  top:284px;
  width:574px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:90px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u41 {
  position:absolute;
  left:660px;
  top:399px;
  width:233px;
  height:90px;
  font-size:14px;
  color:#FFFFFF;
}
#u42 {
  position:absolute;
  left:10px;
  top:40px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u43 {
  position:absolute;
  left:724px;
  top:429px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u8_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:91px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u45 {
  position:absolute;
  left:626px;
  top:315px;
  width:300px;
  height:91px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u46 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  position:absolute;
  left:145px;
  top:299px;
  width:163px;
  height:290px;
}
#u48 {
  position:absolute;
  left:2px;
  top:137px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:328px;
  height:10px;
}
#u49 {
  position:absolute;
  left:308px;
  top:441px;
  width:323px;
  height:5px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-6px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:238px;
}
#u51 {
  position:absolute;
  left:626px;
  top:416px;
  width:300px;
  height:238px;
  font-size:14px;
  color:#003A44;
  text-align:left;
}
#u52 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u53 {
  position:absolute;
  left:724px;
  top:590px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u8_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:585px;
}
#u55 {
  position:absolute;
  left:9px;
  top:304px;
  width:579px;
  height:585px;
}
#u56 {
  position:absolute;
  left:2px;
  top:284px;
  width:575px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:90px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u57 {
  position:absolute;
  left:660px;
  top:399px;
  width:233px;
  height:90px;
  font-size:14px;
  color:#FFFFFF;
}
#u58 {
  position:absolute;
  left:10px;
  top:40px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u59 {
  position:absolute;
  left:724px;
  top:429px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u8_state7 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:76px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u61 {
  position:absolute;
  left:632px;
  top:299px;
  width:300px;
  height:76px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u62 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:287px;
  top:298px;
  width:163px;
  height:290px;
}
#u64 {
  position:absolute;
  left:2px;
  top:137px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:198px;
  height:10px;
}
#u65 {
  position:absolute;
  left:450px;
  top:441px;
  width:193px;
  height:5px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-6px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:236px;
}
#u67 {
  position:absolute;
  left:632px;
  top:384px;
  width:300px;
  height:236px;
  font-size:14px;
  color:#003A44;
  text-align:left;
}
#u68 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u69 {
  position:absolute;
  left:722px;
  top:555px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u8_state8 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state8_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:90px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u71 {
  position:absolute;
  left:660px;
  top:399px;
  width:233px;
  height:90px;
  font-size:14px;
  color:#FFFFFF;
}
#u72 {
  position:absolute;
  left:10px;
  top:40px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u73 {
  position:absolute;
  left:724px;
  top:429px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u74 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:584px;
}
#u75 {
  position:absolute;
  left:10px;
  top:304px;
  width:578px;
  height:584px;
}
#u76 {
  position:absolute;
  left:2px;
  top:284px;
  width:574px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_state9 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state9_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:76px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u77 {
  position:absolute;
  left:632px;
  top:299px;
  width:300px;
  height:76px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u78 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:436px;
  top:298px;
  width:163px;
  height:290px;
}
#u80 {
  position:absolute;
  left:2px;
  top:137px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:48px;
  height:10px;
}
#u81 {
  position:absolute;
  left:599px;
  top:441px;
  width:43px;
  height:5px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-6px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:234px;
}
#u83 {
  position:absolute;
  left:632px;
  top:384px;
  width:300px;
  height:234px;
  font-size:14px;
  color:#003A44;
  text-align:left;
}
#u84 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u85 {
  position:absolute;
  left:730px;
  top:555px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u8_state10 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state10_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:90px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u87 {
  position:absolute;
  left:660px;
  top:399px;
  width:233px;
  height:90px;
  font-size:14px;
  color:#FFFFFF;
}
#u88 {
  position:absolute;
  left:10px;
  top:40px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u89 {
  position:absolute;
  left:724px;
  top:429px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:586px;
}
#u91 {
  position:absolute;
  left:9px;
  top:304px;
  width:580px;
  height:586px;
}
#u92 {
  position:absolute;
  left:2px;
  top:285px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_state11 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state11_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:73px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u93 {
  position:absolute;
  left:632px;
  top:499px;
  width:300px;
  height:73px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u94 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  position:absolute;
  left:9px;
  top:589px;
  width:209px;
  height:50px;
}
#u96 {
  position:absolute;
  left:2px;
  top:17px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:427px;
  height:10px;
}
#u97 {
  position:absolute;
  left:218px;
  top:612px;
  width:422px;
  height:5px;
}
#u98 {
  position:absolute;
  left:2px;
  top:-6px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:199px;
}
#u99 {
  position:absolute;
  left:632px;
  top:584px;
  width:300px;
  height:199px;
  font-size:14px;
  color:#003A44;
  text-align:left;
}
#u100 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u101 {
  position:absolute;
  left:730px;
  top:721px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u102 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u8_state12 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state12_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:90px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u103 {
  position:absolute;
  left:654px;
  top:662px;
  width:233px;
  height:90px;
  font-size:14px;
  color:#FFFFFF;
}
#u104 {
  position:absolute;
  left:10px;
  top:40px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u105 {
  position:absolute;
  left:718px;
  top:692px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u106 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:586px;
}
#u107 {
  position:absolute;
  left:9px;
  top:304px;
  width:580px;
  height:586px;
}
#u108 {
  position:absolute;
  left:2px;
  top:285px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_state13 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state13_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u109 {
  position:absolute;
  left:632px;
  top:499px;
  width:300px;
  height:64px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u110 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  position:absolute;
  left:206px;
  top:595px;
  width:139px;
  height:50px;
}
#u112 {
  position:absolute;
  left:2px;
  top:17px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:294px;
  height:10px;
}
#u113 {
  position:absolute;
  left:345px;
  top:612px;
  width:289px;
  height:5px;
}
#u114 {
  position:absolute;
  left:2px;
  top:-6px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:214px;
}
#u115 {
  position:absolute;
  left:631px;
  top:578px;
  width:300px;
  height:214px;
  font-size:14px;
  color:#003A44;
  text-align:left;
}
#u116 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u117 {
  position:absolute;
  left:729px;
  top:732px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u118 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u8_state14 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state14_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:90px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u119 {
  position:absolute;
  left:654px;
  top:662px;
  width:233px;
  height:90px;
  font-size:14px;
  color:#FFFFFF;
}
#u120 {
  position:absolute;
  left:10px;
  top:40px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u121 {
  position:absolute;
  left:718px;
  top:692px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u122 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:352px;
}
#u123 {
  position:absolute;
  left:8px;
  top:590px;
  width:582px;
  height:352px;
}
#u124 {
  position:absolute;
  left:2px;
  top:168px;
  width:578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_state15 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state15_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:158px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u125 {
  position:absolute;
  left:631px;
  top:613px;
  width:300px;
  height:158px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u126 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  position:absolute;
  left:60px;
  top:633px;
  width:331px;
  height:273px;
}
#u128 {
  position:absolute;
  left:2px;
  top:128px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:256px;
  height:10px;
}
#u129 {
  position:absolute;
  left:391px;
  top:687px;
  width:251px;
  height:5px;
}
#u130 {
  position:absolute;
  left:2px;
  top:-6px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:184px;
}
#u131 {
  position:absolute;
  left:631px;
  top:782px;
  width:300px;
  height:184px;
  font-size:14px;
  color:#003A44;
  text-align:left;
}
#u132 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u133 {
  position:absolute;
  left:729px;
  top:908px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u134 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u8_state16 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state16_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:90px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u135 {
  position:absolute;
  left:654px;
  top:662px;
  width:233px;
  height:90px;
  font-size:14px;
  color:#FFFFFF;
}
#u136 {
  position:absolute;
  left:10px;
  top:40px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u137 {
  position:absolute;
  left:718px;
  top:692px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u138 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:357px;
}
#u139 {
  position:absolute;
  left:9px;
  top:584px;
  width:580px;
  height:357px;
}
#u140 {
  position:absolute;
  left:2px;
  top:170px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_state17 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state17_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:157px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u141 {
  position:absolute;
  left:632px;
  top:622px;
  width:300px;
  height:157px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u142 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  position:absolute;
  left:60px;
  top:633px;
  width:331px;
  height:273px;
}
#u144 {
  position:absolute;
  left:2px;
  top:128px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:246px;
  height:10px;
}
#u145 {
  position:absolute;
  left:391px;
  top:687px;
  width:241px;
  height:5px;
}
#u146 {
  position:absolute;
  left:2px;
  top:-6px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:193px;
}
#u147 {
  position:absolute;
  left:634px;
  top:790px;
  width:300px;
  height:193px;
  font-size:14px;
  color:#003A44;
  text-align:left;
}
#u148 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u149 {
  position:absolute;
  left:732px;
  top:925px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u150 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u8_state18 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state18_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:90px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u151 {
  position:absolute;
  left:654px;
  top:662px;
  width:233px;
  height:90px;
  font-size:14px;
  color:#FFFFFF;
}
#u152 {
  position:absolute;
  left:10px;
  top:40px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u153 {
  position:absolute;
  left:718px;
  top:692px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u154 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:579px;
  height:360px;
}
#u155 {
  position:absolute;
  left:10px;
  top:584px;
  width:579px;
  height:360px;
}
#u156 {
  position:absolute;
  left:2px;
  top:172px;
  width:575px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_state19 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state19_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:286px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u157 {
  position:absolute;
  left:634px;
  top:1014px;
  width:300px;
  height:286px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u158 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:273px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u159 {
  position:absolute;
  left:60px;
  top:633px;
  width:331px;
  height:273px;
}
#u160 {
  position:absolute;
  left:2px;
  top:128px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:257px;
  height:10px;
}
#u161 {
  position:absolute;
  left:391px;
  top:687px;
  width:252px;
  height:5px;
}
#u162 {
  position:absolute;
  left:2px;
  top:-6px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:250px;
}
#u163 {
  position:absolute;
  left:633px;
  top:639px;
  width:300px;
  height:250px;
  font-size:14px;
  color:#003A44;
  text-align:left;
}
#u164 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u165 {
  position:absolute;
  left:731px;
  top:827px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u166 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u8_state20 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state20_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:90px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u167 {
  position:absolute;
  left:654px;
  top:662px;
  width:233px;
  height:90px;
  font-size:14px;
  color:#FFFFFF;
}
#u168 {
  position:absolute;
  left:10px;
  top:40px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u169 {
  position:absolute;
  left:718px;
  top:692px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u170 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:652px;
}
#u171 {
  position:absolute;
  left:8px;
  top:625px;
  width:581px;
  height:652px;
}
#u172 {
  position:absolute;
  left:2px;
  top:318px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_state21 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state21_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:92px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u173 {
  position:absolute;
  left:634px;
  top:560px;
  width:300px;
  height:92px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u174 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:311px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u175 {
  position:absolute;
  left:423px;
  top:595px;
  width:163px;
  height:311px;
}
#u176 {
  position:absolute;
  left:2px;
  top:148px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:61px;
  height:10px;
}
#u177 {
  position:absolute;
  left:586px;
  top:687px;
  width:56px;
  height:5px;
}
#u178 {
  position:absolute;
  left:2px;
  top:-6px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:253px;
}
#u179 {
  position:absolute;
  left:636px;
  top:664px;
  width:300px;
  height:253px;
  font-size:14px;
  color:#003A44;
  text-align:left;
}
#u180 {
  position:absolute;
  left:20px;
  top:20px;
  width:270px;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u181 {
  position:absolute;
  left:731px;
  top:831px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u182 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u8_state22 {
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:1378px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state22_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:90px;
  background:inherit;
  background-color:rgba(27, 74, 88, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(27, 74, 88, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u183 {
  position:absolute;
  left:654px;
  top:662px;
  width:233px;
  height:90px;
  font-size:14px;
  color:#FFFFFF;
}
#u184 {
  position:absolute;
  left:10px;
  top:40px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u185 {
  position:absolute;
  left:718px;
  top:692px;
  width:105px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u186 {
  position:absolute;
  left:2px;
  top:8px;
  width:101px;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:672px;
}
#u187 {
  position:absolute;
  left:7px;
  top:624px;
  width:582px;
  height:672px;
}
#u188 {
  position:absolute;
  left:2px;
  top:328px;
  width:578px;
  visibility:hidden;
  word-wrap:break-word;
}
