body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:398px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:398px;
}
#u1 {
  position:absolute;
  left:2px;
  top:191px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:580px;
}
#u2 {
  position:absolute;
  left:0px;
  top:398px;
  width:1000px;
  height:580px;
}
#u3 {
  position:absolute;
  left:2px;
  top:282px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:622px;
}
#u4 {
  position:absolute;
  left:-1px;
  top:977px;
  width:1001px;
  height:622px;
}
#u5 {
  position:absolute;
  left:2px;
  top:303px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:690px;
}
#u6 {
  position:absolute;
  left:2px;
  top:1596px;
  width:1000px;
  height:690px;
}
#u7 {
  position:absolute;
  left:2px;
  top:337px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
